/***** side nav button *****/ 
.sidenav-btn {
    background-color: #3399ff;
    cursor: pointer;
    float: left;
    margin-left: 10;
    width: auto;
    height: auto;
    border-radius: 3px;
  }

  /***** side content *****/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1a4885;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
 
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }

  .coppyright a{
    color: #a09c9c;
    padding-top: 100px;
  }

  .sidenav a:hover {
    color: #84a5ad;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #canvas {
    transition: margin-left .5s;
    padding: 16px;
    padding-top: 0%;
    padding-right: 0%;
    padding-left: 0%;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }